<!DOCTYPE html>
<html>
<head>
    <title>Microservices Blog - {{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <h2>Reviews:</h2>
    <div>
        {% for review in reviews %}
            <div>
		    <h4> Rated: {{ review.rating }} </h4>
		    <p>{{ review.review }} <a href="/posts/{{ post._id }}/reviews/{{ review._id  }}?action=delete">Delete</a>
		    <a href="/posts/{{ post._id }}/reviews/{{ review._id  }}?action=update">Update</a></p>
	    </div>
        {% endfor %}
    </div>
    <h2>Add a Review:</h2>
    <form action="/posts/{{ post._id }}/reviews" method="POST">
        <textarea name="review" placeholder="Enter your review"></textarea><br>
        <input type="number" name="rating" placeholder="Enter your rating (1-5)"><br>
        <input type="submit" value="Add Review">
    </form>
</body>
</html>

