<!DOCTYPE html>
<html>
<head>
    <title>Microservices Blog - {{ post.title }}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
     <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <h3>Reviews:</h3>
    </div>
</div>
<div class="row">
	<div class="col-md-6">
        {% for review in reviews %}
	<blockquote>
            <p>{{ review.review }} <a href="/posts/{{ post._id }}/reviews/{{ review._id  }}?action=delete">Delete</a>
                    <a href="/posts/{{ post._id }}/reviews/{{ review._id  }}?action=update">Update</a></p>
	    <font color="orange">
          	{% for n in range(review.rating) %}
          		<span class="glyphicon glyphicon-star"></span>
          	{% endfor %}
          	{% for n in range(5 - review.rating) %}
          		<span class="glyphicon glyphicon-star-empty"></span>
          	{% endfor %}
            </font>
	 </blockquote>
        {% endfor %}
        </div>
</div>
<div class="row">
    <div class="col-md-12">
    <h3>Add a Review:</h3>
    <form action="/posts/{{ post._id }}/reviews" method="POST">
        <textarea name="review" placeholder="Enter your review"></textarea><br>
        Rating: <input type="number" name="rating" value="5" min="1" max="5"><br>
        <input type="submit" value="Add Review">
    </form>
    </div>
</div>
</div>
</body>
</html>

