<!DOCTYPE html>
<html>
<head>
    <title>Microservices Blog - {{ post.title }}</title>
<head>
    <title>Microservices Blog - {{ post.title }}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <h3>Update Review:</h3>
    <form action="/posts/{{ post._id }}/reviews/{{ review._id }}" method="POST">
	<textarea name="review" placeholder="Enter your review">{{ review.review  }}</textarea><br>
	<input type="number" name="rating" placeholder="Enter your rating (1-5)"  value="{{ review.rating  }}" ><br>
        <input type="submit" value="Update Review">
    </form>
    </div>
</div>
</div>
</body>
</html>

